USE [VanAnhPerfume]
GO
/****** Object:  Table [dbo].[AddressBook]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressBook](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ReceiverName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[StreetAddress] [nvarchar](255) NOT NULL,
	[Ward] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__AddressB__091C2AFB843B15CC] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddToCartLogs]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddToCartLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AddToCartLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminNotifications]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminNotifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminNotifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](100) NOT NULL,
	[EntityId] [int] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[ChangedBy] [nvarchar](150) NULL,
	[Payload] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[SubTitle] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[LinkUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayFrom] [datetime2](7) NULL,
	[DisplayTo] [datetime2](7) NULL,
	[ButtonText] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[Description] [nvarchar](1000) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MobileImageUrl] [nvarchar](500) NULL,
	[Position] [nvarchar](50) NULL,
	[PublishAt] [datetime] NULL,
	[TextColor] [nvarchar](7) NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatchInventory]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchInventory](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__BatchInv__5D55CE58951FD543] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[Logo] [nvarchar](255) NULL,
	[BannerUrl] [nvarchar](500) NULL,
	[CountryOfOrigin] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[Slug] [nvarchar](255) NULL,
	[SortOrder] [int] NOT NULL,
	[Website] [nvarchar](255) NULL,
 CONSTRAINT [PK__Brands__DAD4F05ED76C58F7] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__Cart__51BCD7B78E261A93] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Description] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[ParentId] [int] NULL,
	[Slug] [nvarchar](255) NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK__Categori__19093A0BC29C9CA2] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[MinOrderValue] [decimal](18, 2) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[UsageLimit] [int] NOT NULL,
	[UsedCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ApplicableCategoryIds] [nvarchar](500) NULL,
	[ApplicableProductIds] [nvarchar](1000) NULL,
	[AutoApply] [bit] NOT NULL,
	[PerUserLimit] [int] NULL,
	[StartDate] [datetime] NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FragranceNotes]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FragranceNotes](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Fragranc__EACE355F45BB1FDA] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[QuantityReserved] [int] NOT NULL,
	[QuantitySold] [int] NOT NULL,
	[LowStockThreshold] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLogs]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NOT NULL,
	[ActionType] [nvarchar](30) NOT NULL,
	[ChangeType] [nvarchar](30) NOT NULL,
	[QuantityDelta] [int] NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[StockAfter] [int] NOT NULL,
	[QuantityAfter] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_InventoryLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](255) NULL,
	[Slug] [nvarchar](255) NULL,
	[NewsStatus] [nvarchar](20) NULL,
	[ThumbnailUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NULL,
	[AuthorName] [nvarchar](200) NULL,
	[CategoryTag] [nvarchar](100) NULL,
	[Excerpt] [nvarchar](max) NULL,
	[IsFeatured] [bit] NOT NULL,
	[MetaDescription] [nvarchar](2000) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[PublishAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ViewCount] [int] NOT NULL,
 CONSTRAINT [PK__News__954EBDF3BF685EB9] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsletterSubscribers]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsletterSubscribers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[SubscribedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NewsletterSubscribers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[Sku] [nvarchar](100) NULL,
	[VariantName] [nvarchar](255) NULL,
 CONSTRAINT [PK__OrderDet__D3B9D36C93FB879E] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderGifting]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderGifting](
	[GiftingId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[IncludeGiftWrap] [bit] NULL,
	[GiftMessage] [nvarchar](500) NULL,
 CONSTRAINT [PK__OrderGif__780BBDFFA539C87E] PRIMARY KEY CLUSTERED 
(
	[GiftingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[AdminNote] [nvarchar](1000) NULL,
	[ConfirmationEmailSentAt] [datetime] NULL,
	[CouponCode] [nvarchar](50) NULL,
	[CouponId] [int] NULL,
	[CustomerEmail] [nvarchar](150) NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[OrderCode] [nvarchar](30) NULL,
	[RefundStatus] [nvarchar](50) NULL,
	[ShippingDistrict] [nvarchar](100) NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[ShippingProvince] [nvarchar](100) NULL,
	[ShippingStatus] [nvarchar](50) NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[TrackingCode] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Orders__C3905BCF795320E8] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusLogs]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NULL,
	[OldPaymentStatus] [nvarchar](50) NULL,
	[NewPaymentStatus] [nvarchar](50) NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ChangedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_OrderStatusLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](200) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLogs]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[LogDate] [datetime] NULL,
	[RawData] [nvarchar](max) NULL,
	[Message] [nvarchar](255) NULL,
	[NewStatus] [nvarchar](30) NULL,
	[Note] [nvarchar](500) NULL,
	[OldStatus] [nvarchar](30) NULL,
	[OrderId] [int] NULL,
	[Source] [nvarchar](30) NULL,
 CONSTRAINT [PK__PaymentL__5E548648A42E2BA5] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[PaidAt] [datetime] NULL,
	[PaymentGatewayResponse] [nvarchar](4000) NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[RefundNote] [nvarchar](500) NULL,
	[RefundedAt] [datetime] NULL,
	[TransactionId] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Payments__9B556A380FCEECA4] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__ProductI__7516F70C3E582BC6] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductNotes]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductNotes](
	[ProductId] [int] NOT NULL,
	[NoteId] [int] NOT NULL,
 CONSTRAINT [PK_ProductNotes] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPromotions]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPromotions](
	[ProductId] [int] NOT NULL,
	[PromoId] [int] NOT NULL,
 CONSTRAINT [PK_ProductPromotions] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[PromoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Gender] [nvarchar](20) NULL,
	[Concentration] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[MainImage] [nvarchar](255) NULL,
	[IsFeatured] [bit] NULL,
	[Status] [bit] NULL,
	[AverageRating] [decimal](3, 1) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DetailSpecsJson] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[ProductStatus] [nvarchar](20) NULL,
	[RelatedProductIds] [nvarchar](1000) NULL,
	[ReviewCount] [int] NOT NULL,
	[ShortDescription] [nvarchar](1000) NULL,
	[Slug] [nvarchar](255) NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Products__B40CC6CD1CACA511] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantAttributeValues]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantAttributeValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[VariantAttributeValueId] [int] NOT NULL,
 CONSTRAINT [PK_ProductVariantAttributeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[SKU] [nvarchar](200) NOT NULL,
	[Color] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Material] [nvarchar](100) NULL,
	[OriginalPrice] [decimal](18, 2) NULL,
	[VariantImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK__ProductV__0EA233848924DB15] PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromoId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
	[ApplicableCategoryIds] [nvarchar](500) NULL,
	[ApplicableProductIds] [nvarchar](1000) NULL,
	[AutoApply] [bit] NOT NULL,
	[MinOrderValue] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Promotio__33D334B0211FD6BC] PRIMARY KEY CLUSTERED 
(
	[PromoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ProductId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[AdminReply] [nvarchar](1000) NULL,
	[AdminReplyAt] [datetime] NULL,
	[Content] [nvarchar](2000) NULL,
	[HelpfulCount] [int] NOT NULL,
	[IsVerifiedPurchase] [bit] NOT NULL,
	[ReviewerEmail] [nvarchar](200) NULL,
	[ReviewerName] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NULL,
	[Title] [nvarchar](200) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Reviews__74BC79CE5EF3C96E] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__8AFACE1AF4DCE2C8] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Transact__55433A6BC63ED18E] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[Avatar] [nvarchar](500) NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [nvarchar](10) NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[LastLoginAt] [datetime] NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C5D9B016A] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantAttributes]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_VariantAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantAttributeValues]    Script Date: 20/05/2026 9:07:54 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantAttributeValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VariantAttributeId] [int] NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_VariantAttributeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddressBook] ON 

INSERT [dbo].[AddressBook] ([AddressId], [UserId], [ReceiverName], [Phone], [StreetAddress], [Ward], [District], [City], [IsDefault], [CreatedAt]) VALUES (1, 2, N'Test Customer', N'0900000002', N'12 Nguyen Hue', N'Thạch Thang', N'Hải Châu', N'Đà Nẵng', 1, CAST(N'2026-04-29T15:31:23.780' AS DateTime))
INSERT [dbo].[AddressBook] ([AddressId], [UserId], [ReceiverName], [Phone], [StreetAddress], [Ward], [District], [City], [IsDefault], [CreatedAt]) VALUES (2, 2, N'Test Customer', N'0900000002', N'82 Tran Hung Dao', N'An Hòa', N'Ninh Kiều', N'Cần Thơ', 0, CAST(N'2026-04-30T15:31:23.780' AS DateTime))
INSERT [dbo].[AddressBook] ([AddressId], [UserId], [ReceiverName], [Phone], [StreetAddress], [Ward], [District], [City], [IsDefault], [CreatedAt]) VALUES (3, 3, N'Khach Hang 01', N'091230001', N'13 Nguyen Hue', N'An Hòa', N'Ninh Kiều', N'Cần Thơ', 1, CAST(N'2026-04-28T15:31:23.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[AddressBook] OFF
GO
SET IDENTITY_INSERT [dbo].[AddToCartLogs] ON 

INSERT [dbo].[AddToCartLogs] ([Id], [ProductId], [VariantId], [Quantity], [CreatedAt]) VALUES (1, 45, 133, 1, CAST(N'2026-05-01T15:32:23.937' AS DateTime))
INSERT [dbo].[AddToCartLogs] ([Id], [ProductId], [VariantId], [Quantity], [CreatedAt]) VALUES (2, NULL, 143, 1, CAST(N'2026-05-01T16:06:22.720' AS DateTime))
INSERT [dbo].[AddToCartLogs] ([Id], [ProductId], [VariantId], [Quantity], [CreatedAt]) VALUES (3, NULL, 133, 1, CAST(N'2026-05-02T10:22:20.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[AddToCartLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([Id], [Title], [SubTitle], [ImageUrl], [LinkUrl], [SortOrder], [IsActive], [DisplayFrom], [DisplayTo], [ButtonText], [CreatedAt], [Description], [MetaDescription], [MetaTitle], [MobileImageUrl], [Position], [PublishAt], [TextColor]) VALUES (6, N'Đa dạng mùi hương', NULL, N'/uploads/banners/510446c1aa2a417fa375e80ca7c85ed1.png', N'/Product?gender=Nam', 2, 1, CAST(N'2026-05-12T17:56:00.0000000' AS DateTime2), CAST(N'2028-05-13T17:56:00.0000000' AS DateTime2), N'Khám phá ngay', CAST(N'2026-05-06T17:18:18.863' AS DateTime), NULL, NULL, NULL, NULL, N'hero', NULL, N'#ffe5e5')
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [Name], [Country], [Logo], [BannerUrl], [CountryOfOrigin], [CreatedAt], [Description], [IsActive], [LogoUrl], [MetaDescription], [MetaTitle], [Slug], [SortOrder], [Website]) VALUES (1, N'Gucci', NULL, N'/uploads/brands/f243adb3a83249a087093195b48a91af.jpg', NULL, N'Italy', CAST(N'2026-05-01T22:31:20.407' AS DateTime), NULL, 1, N'/uploads/brands/f243adb3a83249a087093195b48a91af.jpg', N'Nước hoa Gucci chính hãng, đa dạng nồng độ và dung tích.', N'Gucci Perfume | Vân Anh Perfume', N'gucci', 2, NULL)
INSERT [dbo].[Brands] ([BrandId], [Name], [Country], [Logo], [BannerUrl], [CountryOfOrigin], [CreatedAt], [Description], [IsActive], [LogoUrl], [MetaDescription], [MetaTitle], [Slug], [SortOrder], [Website]) VALUES (2, N'Dior', NULL, N'/uploads/brands/1b194ce18b4e41cc8214c9664f43af1c.jpg', NULL, N'France ', CAST(N'2026-05-01T22:31:20.407' AS DateTime), NULL, 1, N'/uploads/brands/1b194ce18b4e41cc8214c9664f43af1c.jpg', N'Nước hoa Dior chính hãng, đa dạng nồng độ và dung tích.', N'Dior Perfume | Vân Anh Perfume', N'dior', 1, NULL)
INSERT [dbo].[Brands] ([BrandId], [Name], [Country], [Logo], [BannerUrl], [CountryOfOrigin], [CreatedAt], [Description], [IsActive], [LogoUrl], [MetaDescription], [MetaTitle], [Slug], [SortOrder], [Website]) VALUES (3, N'Chanel', NULL, N'/uploads/brands/3ae8cd800d274329b4341c977a31c748.jpg', NULL, N'France ', CAST(N'2026-05-01T22:31:20.407' AS DateTime), NULL, 1, N'/uploads/brands/3ae8cd800d274329b4341c977a31c748.jpg', N'Nước hoa Chanel chính hãng, đa dạng nồng độ và dung tích.', N'Chanel Perfume | Vân Anh Perfume', N'chanel', 6, NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [CreatedAt], [Description], [ImageUrl], [IsActive], [MetaDescription], [MetaTitle], [ParentId], [Slug], [SortOrder]) VALUES (1, N'Nước hoa nam', CAST(N'2026-05-01T22:31:20.260' AS DateTime), NULL, N'https://tprofumo.com/wp-content/uploads/2025/03/nuoc-hoa-nam-diesel-only-the-brave-tattoo-edt-125ml-629efbc375f27-07062022141827.webp', 1, N'Bộ sưu tập Nước hoa nam cao cấp được tuyển chọn tại Vân Anh Perfume.', N'Nước hoa nam | Vân Anh Perfume', NULL, N'nuoc-hoa-nam', 1)
INSERT [dbo].[Categories] ([CategoryId], [Name], [CreatedAt], [Description], [ImageUrl], [IsActive], [MetaDescription], [MetaTitle], [ParentId], [Slug], [SortOrder]) VALUES (2, N'Nước hoa nữ', CAST(N'2026-05-01T22:31:20.260' AS DateTime), NULL, N'https://www.creedfragrance.com/images?url=https://static.thcdn.com/productimg/original/15795434-1345214187593777.jpg&format=webp&auto=avif&width=1000&height=1000&fit=cover&v=2&dpr=2', 1, N'Bộ sưu tập Nước hoa nữ cao cấp được tuyển chọn tại Vân Anh Perfume.', N'Nước hoa nữ | Vân Anh Perfume', NULL, N'nuoc-hoa-nu', 4)
INSERT [dbo].[Categories] ([CategoryId], [Name], [CreatedAt], [Description], [ImageUrl], [IsActive], [MetaDescription], [MetaTitle], [ParentId], [Slug], [SortOrder]) VALUES (3, N'Nước hoa unisex', CAST(N'2026-05-01T22:31:20.260' AS DateTime), NULL, N'https://www.creedfragrance.com/images?url=https://static.thcdn.com/productimg/original/15795434-1345214187617003.jpg&format=webp&auto=avif&width=1000&height=1000&fit=cover&v=2&dpr=2', 1, N'Bộ sưu tập Nước hoa unisex cao cấp được tuyển chọn tại Vân Anh Perfume.', N'Nước hoa unisex | Vân Anh Perfume', NULL, N'nuoc-hoa-unisex', 7)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([Id], [ProductVariantId], [QuantityAvailable], [QuantityReserved], [QuantitySold], [LowStockThreshold], [UpdatedAt]) VALUES (1, 133, 65, 8, 0, 5, CAST(N'2026-05-04T09:36:46.210' AS DateTime))
INSERT [dbo].[Inventories] ([Id], [ProductVariantId], [QuantityAvailable], [QuantityReserved], [QuantitySold], [LowStockThreshold], [UpdatedAt]) VALUES (2, 151, 13, 0, 0, 5, CAST(N'2026-05-13T16:07:37.367' AS DateTime))
INSERT [dbo].[Inventories] ([Id], [ProductVariantId], [QuantityAvailable], [QuantityReserved], [QuantitySold], [LowStockThreshold], [UpdatedAt]) VALUES (3, 152, 9, 0, 0, 5, CAST(N'2026-05-13T15:58:20.130' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryLogs] ON 

INSERT [dbo].[InventoryLogs] ([Id], [VariantId], [ActionType], [ChangeType], [QuantityDelta], [QuantityChange], [StockAfter], [QuantityAfter], [Note], [CreatedBy], [CreatedAt]) VALUES (1, 133, N'Sale', N'Sale', -1, -1, 65, 65, N'Reserved for order #81', N'Guest', CAST(N'2026-05-01T15:33:04.480' AS DateTime))
INSERT [dbo].[InventoryLogs] ([Id], [VariantId], [ActionType], [ChangeType], [QuantityDelta], [QuantityChange], [StockAfter], [QuantityAfter], [Note], [CreatedBy], [CreatedAt]) VALUES (2, 133, N'Sale', N'Sale', -2, -2, 65, 65, N'Reserved for order #82', N'Guest', CAST(N'2026-05-02T10:38:42.770' AS DateTime))
INSERT [dbo].[InventoryLogs] ([Id], [VariantId], [ActionType], [ChangeType], [QuantityDelta], [QuantityChange], [StockAfter], [QuantityAfter], [Note], [CreatedBy], [CreatedAt]) VALUES (3, 45, N'Sale', N'Sale', -1, -1, 37, 37, N'Reserved for order #82', N'Guest', CAST(N'2026-05-02T10:38:42.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[InventoryLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsletterSubscribers] ON 

INSERT [dbo].[NewsletterSubscribers] ([Id], [Email], [SubscribedAt], [IsActive]) VALUES (1, N'subscriber01@vananh.test', CAST(N'2026-04-30T15:31:25.193' AS DateTime), 1)
INSERT [dbo].[NewsletterSubscribers] ([Id], [Email], [SubscribedAt], [IsActive]) VALUES (2, N'subscriber02@vananh.test', CAST(N'2026-04-29T15:31:25.200' AS DateTime), 1)
INSERT [dbo].[NewsletterSubscribers] ([Id], [Email], [SubscribedAt], [IsActive]) VALUES (3, N'subscriber03@vananh.test', CAST(N'2026-04-28T15:31:25.203' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[NewsletterSubscribers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [VariantId], [Quantity], [Price], [ProductName], [Sku], [VariantName]) VALUES (1, 1, 2, 2, CAST(1075000.00 AS Decimal(18, 2)), N'Luxury Perfume Blanc 01', N'TEST-001-50ml', N'50ml')
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [VariantId], [Quantity], [Price], [ProductName], [Sku], [VariantName]) VALUES (2, 1, 3, 1, CAST(1195000.00 AS Decimal(18, 2)), N'Luxury Perfume Blanc 01', N'TEST-001-100ml', N'100ml')
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [VariantId], [Quantity], [Price], [ProductName], [Sku], [VariantName]) VALUES (3, 2, 3, 1, CAST(1195000.00 AS Decimal(18, 2)), N'Luxury Perfume Blanc 01', N'TEST-001-100ml', N'100ml')
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatusLogs] ON 

INSERT [dbo].[OrderStatusLogs] ([Id], [OrderId], [OldStatus], [NewStatus], [OldPaymentStatus], [NewPaymentStatus], [Note], [CreatedAt], [ChangedBy]) VALUES (1, 1, N'Pending', N'Processing', N'Pending', N'Paid', N'Seeded order using COD', CAST(N'2026-05-01T06:33:19.570' AS DateTime), N'Seeder')
INSERT [dbo].[OrderStatusLogs] ([Id], [OrderId], [OldStatus], [NewStatus], [OldPaymentStatus], [NewPaymentStatus], [Note], [CreatedAt], [ChangedBy]) VALUES (2, 2, N'Pending', N'Processing', N'Pending', N'Paid', N'Seeded order using VNPAY', CAST(N'2026-04-30T21:33:19.570' AS DateTime), N'Seeder')
INSERT [dbo].[OrderStatusLogs] ([Id], [OrderId], [OldStatus], [NewStatus], [OldPaymentStatus], [NewPaymentStatus], [Note], [CreatedAt], [ChangedBy]) VALUES (3, 3, N'Pending', N'Completed', N'Pending', N'Paid', N'Seeded order using COD', CAST(N'2026-04-30T12:33:19.570' AS DateTime), N'Seeder')
SET IDENTITY_INSERT [dbo].[OrderStatusLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] ON 

INSERT [dbo].[PasswordResetTokens] ([Id], [UserId], [Token], [ExpiryDate], [IsUsed]) VALUES (1, 23, N'24bac022963945f79cd79821b04b41e1', CAST(N'2026-05-06T04:34:36.063' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentLogs] ON 

SET IDENTITY_INSERT [dbo].[PaymentLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentMethod], [Amount], [Status], [CreatedAt], [PaidAt], [PaymentGatewayResponse], [RefundAmount], [RefundNote], [RefundedAt], [TransactionId], [UpdatedAt]) VALUES (1, 1, N'COD', CAST(3010500.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-05-01T06:31:19.570' AS DateTime), CAST(N'2026-05-01T06:46:19.570' AS DateTime), NULL, NULL, NULL, NULL, N'TXN-ORD-20260501-003-00001', NULL)
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentMethod], [Amount], [Status], [CreatedAt], [PaidAt], [PaymentGatewayResponse], [RefundAmount], [RefundNote], [RefundedAt], [TransactionId], [UpdatedAt]) VALUES (2, 2, N'VNPAY', CAST(1984500.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-04-30T21:31:19.570' AS DateTime), CAST(N'2026-04-30T21:46:19.570' AS DateTime), NULL, NULL, NULL, NULL, N'TXN-ORD-20260430-004-00002', NULL)
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentMethod], [Amount], [Status], [CreatedAt], [PaidAt], [PaymentGatewayResponse], [RefundAmount], [RefundNote], [RefundedAt], [TransactionId], [UpdatedAt]) VALUES (3, 3, N'COD', CAST(2835000.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-04-30T12:31:19.570' AS DateTime), CAST(N'2026-04-30T12:46:19.570' AS DateTime), NULL, NULL, NULL, NULL, N'TXN-ORD-20260430-005-00003', NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [IsPrimary], [SortOrder], [CreatedAt]) VALUES (1, 1, N'https://picsum.photos/id/101/900/900', 1, 1, CAST(N'2026-05-01T15:31:24.1951389' AS DateTime2))
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [IsPrimary], [SortOrder], [CreatedAt]) VALUES (2, 1, N'https://picsum.photos/id/102/900/900', 0, 2, CAST(N'2026-05-01T15:31:24.1952705' AS DateTime2))
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [IsPrimary], [SortOrder], [CreatedAt]) VALUES (3, 1, N'https://picsum.photos/id/103/900/900', 0, 3, CAST(N'2026-05-01T15:31:24.1952707' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariantAttributeValues] ON 

INSERT [dbo].[ProductVariantAttributeValues] ([Id], [ProductVariantId], [VariantAttributeValueId]) VALUES (49, 148, 41)
INSERT [dbo].[ProductVariantAttributeValues] ([Id], [ProductVariantId], [VariantAttributeValueId]) VALUES (50, 148, 47)
INSERT [dbo].[ProductVariantAttributeValues] ([Id], [ProductVariantId], [VariantAttributeValueId]) VALUES (51, 148, 50)
GO
SET IDENTITY_INSERT [dbo].[ProductVariantAttributeValues] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Size], [Price], [Stock], [SKU], [Color], [CreatedAt], [IsActive], [Material], [OriginalPrice], [VariantImageUrl]) VALUES (1, 1, N'10ml', CAST(955000.00 AS Decimal(18, 2)), 21, N'TEST-001-10ml', N'Black', CAST(N'2026-05-01T15:31:24.207' AS DateTime), 1, N'Glass', NULL, N'https://picsum.photos/id/101/900/900')
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Size], [Price], [Stock], [SKU], [Color], [CreatedAt], [IsActive], [Material], [OriginalPrice], [VariantImageUrl]) VALUES (2, 1, N'50ml', CAST(1075000.00 AS Decimal(18, 2)), 22, N'TEST-001-50ml', N'Gold', CAST(N'2026-05-01T15:31:24.253' AS DateTime), 1, N'Glass', NULL, N'https://picsum.photos/id/102/900/900')
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [Size], [Price], [Stock], [SKU], [Color], [CreatedAt], [IsActive], [Material], [OriginalPrice], [VariantImageUrl]) VALUES (3, 1, N'100ml', CAST(1195000.00 AS Decimal(18, 2)), 23, N'TEST-001-100ml', N'Silver', CAST(N'2026-05-01T15:31:24.253' AS DateTime), 1, N'Glass', NULL, N'https://picsum.photos/id/103/900/900')
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromoId], [Name], [DiscountPercent], [StartDate], [EndDate], [IsActive], [ApplicableCategoryIds], [ApplicableProductIds], [AutoApply], [MinOrderValue]) VALUES (1, N'AUTO10', 10, CAST(N'2026-04-13T19:31:25.247' AS DateTime), CAST(N'2027-05-13T19:31:25.247' AS DateTime), 1, NULL, NULL, 1, CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[Promotions] ([PromoId], [Name], [DiscountPercent], [StartDate], [EndDate], [IsActive], [ApplicableCategoryIds], [ApplicableProductIds], [AutoApply], [MinOrderValue]) VALUES (2, N'VIP15', 15, CAST(N'2026-04-28T19:31:25.247' AS DateTime), CAST(N'2026-11-13T19:31:25.247' AS DateTime), 1, NULL, NULL, 0, CAST(1500000.00 AS Decimal(18, 2)))
INSERT [dbo].[Promotions] ([PromoId], [Name], [DiscountPercent], [StartDate], [EndDate], [IsActive], [ApplicableCategoryIds], [ApplicableProductIds], [AutoApply], [MinOrderValue]) VALUES (3, N'HOANGHOA25', 10, CAST(N'2026-10-01T00:00:00.000' AS DateTime), CAST(N'2029-01-01T00:00:00.000' AS DateTime), 0, N'1', N'2', 0, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [UserId], [ProductId], [Rating], [Comment], [CreatedAt], [AdminReply], [AdminReplyAt], [Content], [HelpfulCount], [IsVerifiedPurchase], [ReviewerEmail], [ReviewerName], [Status], [Title], [UpdatedAt]) VALUES (1, 2, 15, 3, N'Danh gia test #1: mui huong ben, toa huong tot.', CAST(N'2026-05-01T15:31:24.780' AS DateTime), NULL, NULL, N'Mùi hương cân bằng, độ lưu hương ổn trong khoảng 5 giờ.', 0, 1, N'customer02@vananh.test', N'Khach Hang 02', N'Pending', N'Đánh giá sản phẩm #15', CAST(N'2026-05-02T15:31:24.780' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewId], [UserId], [ProductId], [Rating], [Comment], [CreatedAt], [AdminReply], [AdminReplyAt], [Content], [HelpfulCount], [IsVerifiedPurchase], [ReviewerEmail], [ReviewerName], [Status], [Title], [UpdatedAt]) VALUES (2, 3, 30, 4, N'Danh gia test #2: mui huong ben, toa huong tot.', CAST(N'2026-04-30T15:31:24.807' AS DateTime), NULL, NULL, N'Mùi hương cân bằng, độ lưu hương ổn trong khoảng 6 giờ.', 0, 0, N'customer03@vananh.test', N'Khach Hang 03', N'Approved', N'Đánh giá sản phẩm #30', CAST(N'2026-05-01T15:31:24.807' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewId], [UserId], [ProductId], [Rating], [Comment], [CreatedAt], [AdminReply], [AdminReplyAt], [Content], [HelpfulCount], [IsVerifiedPurchase], [ReviewerEmail], [ReviewerName], [Status], [Title], [UpdatedAt]) VALUES (3, 4, 45, 5, N'Danh gia test #3: mui huong ben, toa huong tot.', CAST(N'2026-04-29T15:31:24.807' AS DateTime), NULL, NULL, N'Mùi hương cân bằng, độ lưu hương ổn trong khoảng 7 giờ.', 0, 1, N'customer04@vananh.test', N'Khach Hang 04', N'Approved', N'Đánh giá sản phẩm #45', CAST(N'2026-04-30T15:31:24.807' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [RoleId], [CreatedAt], [Status], [IsActive], [Avatar], [DateOfBirth], [Gender], [IsEmailVerified], [LastLoginAt], [UpdatedAt]) VALUES (1, N'System Admin', N'admin@vananh.test', N'$2a$11$Iw.Foj9DpEKy61igJFYkYu90fA4Eyn1nUELPtbekjFG7HcaxuxDdW', N'0900000001', 1, CAST(N'2026-05-01T15:31:20.483' AS DateTime), 1, 1, NULL, NULL, NULL, 0, CAST(N'2026-05-16T06:15:24.620' AS DateTime), CAST(N'2026-05-16T06:15:24.620' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [RoleId], [CreatedAt], [Status], [IsActive], [Avatar], [DateOfBirth], [Gender], [IsEmailVerified], [LastLoginAt], [UpdatedAt]) VALUES (2, N'Test Customer', N'customer@vananh.test', N'$2a$11$C8mHOE4VQlO16jYd.xuoV.1qfp1J.Ej55LbJ7eX3Z2ECfEgHv1LAC', N'0900000002', 2, CAST(N'2026-05-01T15:31:20.793' AS DateTime), 1, 1, N'https://picsum.photos/id/1027/400/400', CAST(N'1995-05-20T00:00:00.000' AS DateTime), N'Female', 1, CAST(N'2026-04-30T15:47:11.347' AS DateTime), CAST(N'2026-05-13T19:31:26.183' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [RoleId], [CreatedAt], [Status], [IsActive], [Avatar], [DateOfBirth], [Gender], [IsEmailVerified], [LastLoginAt], [UpdatedAt]) VALUES (3, N'Khach Hang 01', N'customer01@vananh.test', N'$2a$11$6KCCxpLbrAUePhhTOXwfPet9DcdyFChafhmO5oBNzImwsoA4Q4FBi', N'091230001', 2, CAST(N'2026-04-30T15:31:20.923' AS DateTime), 1, 1, N'https://picsum.photos/id/1011/400/400', CAST(N'1991-02-02T00:00:00.000' AS DateTime), N'Male', 1, CAST(N'2026-05-01T15:31:20.923' AS DateTime), CAST(N'2026-05-13T19:31:26.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VariantAttributes] ON 

INSERT [dbo].[VariantAttributes] ([Id], [ProductId], [Name]) VALUES (13, 50, N'Dung tích')
INSERT [dbo].[VariantAttributes] ([Id], [ProductId], [Name]) VALUES (14, 50, N'Màu sắc')
INSERT [dbo].[VariantAttributes] ([Id], [ProductId], [Name]) VALUES (15, 50, N'Thuộc tính 3')
SET IDENTITY_INSERT [dbo].[VariantAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[VariantAttributeValues] ON 

INSERT [dbo].[VariantAttributeValues] ([Id], [VariantAttributeId], [Value]) VALUES (41, 13, N'10ml')
INSERT [dbo].[VariantAttributeValues] ([Id], [VariantAttributeId], [Value]) VALUES (42, 13, N'50ml')
INSERT [dbo].[VariantAttributeValues] ([Id], [VariantAttributeId], [Value]) VALUES (43, 13, N'100ml')
SET IDENTITY_INSERT [dbo].[VariantAttributeValues] OFF
GO
ALTER TABLE [dbo].[AddressBook] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDefault]
GO
ALTER TABLE [dbo].[AddressBook] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AddToCartLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminNotifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (N'Khám phá ngay') FOR [ButtonText]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (N'hero') FOR [Position]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (N'#FFFFFF') FOR [TextColor]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (CONVERT([bit],(0))) FOR [AutoApply]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((5)) FOR [LowStockThreshold]
GO
ALTER TABLE [dbo].[InventoryLogs] ADD  DEFAULT (N'Adjustment') FOR [ChangeType]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[NewsletterSubscribers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderGifting] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IncludeGiftWrap]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Pending') FOR [ShippingStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PaymentLogs] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'VietQR') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'Active') FOR [ProductStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (CONVERT([bit],(0))) FOR [AutoApply]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [HelpfulCount]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsVerifiedPurchase]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AddressBook]  WITH CHECK ADD  CONSTRAINT [FK_AddressBook_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AddressBook] CHECK CONSTRAINT [FK_AddressBook_Users]
GO
ALTER TABLE [dbo].[BatchInventory]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[BatchInventory] CHECK CONSTRAINT [FK_Batch_Variant]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Users]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Variants]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_ProductVariants_ProductVariantId] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_ProductVariants_ProductVariantId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Variants]
GO
ALTER TABLE [dbo].[OrderGifting]  WITH CHECK ADD  CONSTRAINT [FK_OrderGifting_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderGifting] CHECK CONSTRAINT [FK_OrderGifting_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_Users_UserId]
GO
ALTER TABLE [dbo].[PaymentLogs]  WITH CHECK ADD  CONSTRAINT [FK_PaymentLogs_Payments] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([PaymentId])
GO
ALTER TABLE [dbo].[PaymentLogs] CHECK CONSTRAINT [FK_PaymentLogs_Payments]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[ProductNotes]  WITH CHECK ADD  CONSTRAINT [FK_ProductNotes_Notes] FOREIGN KEY([NoteId])
REFERENCES [dbo].[FragranceNotes] ([NoteId])
GO
ALTER TABLE [dbo].[ProductNotes] CHECK CONSTRAINT [FK_ProductNotes_Notes]
GO
ALTER TABLE [dbo].[ProductNotes]  WITH CHECK ADD  CONSTRAINT [FK_ProductNotes_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductNotes] CHECK CONSTRAINT [FK_ProductNotes_Products]
GO
ALTER TABLE [dbo].[ProductPromotions]  WITH CHECK ADD  CONSTRAINT [FK_ProdPromo_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductPromotions] CHECK CONSTRAINT [FK_ProdPromo_Products]
GO
ALTER TABLE [dbo].[ProductPromotions]  WITH CHECK ADD  CONSTRAINT [FK_ProdPromo_Promos] FOREIGN KEY([PromoId])
REFERENCES [dbo].[Promotions] ([PromoId])
GO
ALTER TABLE [dbo].[ProductPromotions] CHECK CONSTRAINT [FK_ProdPromo_Promos]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[ProductVariantAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariantAttributeValues_ProductVariants_ProductVariantId] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariantAttributeValues] CHECK CONSTRAINT [FK_ProductVariantAttributeValues_ProductVariants_ProductVariantId]
GO
ALTER TABLE [dbo].[ProductVariantAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariantAttributeValues_VariantAttributeValues_VariantAttributeValueId] FOREIGN KEY([VariantAttributeValueId])
REFERENCES [dbo].[VariantAttributeValues] ([Id])
GO
ALTER TABLE [dbo].[ProductVariantAttributeValues] CHECK CONSTRAINT [FK_ProductVariantAttributeValues_VariantAttributeValues_VariantAttributeValueId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Orders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[VariantAttributes]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributes_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VariantAttributes] CHECK CONSTRAINT [FK_VariantAttributes_Products_ProductId]
GO
ALTER TABLE [dbo].[VariantAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributeValues_VariantAttributes_VariantAttributeId] FOREIGN KEY([VariantAttributeId])
REFERENCES [dbo].[VariantAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VariantAttributeValues] CHECK CONSTRAINT [FK_VariantAttributeValues_VariantAttributes_VariantAttributeId]
GO
